@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
        A note about bookings: this app was designed for the Israeli rental market, so that a booking made for a car doesn't guarantee that car. If there is a car with requested class available, it will be given to customer, otherwise customer can choose from another class.
        Similarly, bookings are not necessary, and cars can be taken as they are required.
              

</div>
<div class=" = jumbotron">
    A car can be released to the customer in one of four ways:
    <br />
    rentals -> new rental
    <br/>
    customers ->  give car
    <br />
    cars -> give car
    <br />
    bookings -> give car
</div>

<div class=" jumbotron">
    A car can be returned in one of three ways:
    <br />
    rentals ->return
    <br />
    cars -> return
    <br />
    customers -> see rentals ->return car
</div>



